# Binary Files
Binaries/*


# Builds
Build/*
build/.vs/Project/v16/Browse.VC.db
build/.vs/Project/v16/.suo
build/.vs/Project/v16/Browse.VC.db
build/.vs/Project/v16/Solution.VC.db
build/.vs/Project/v16/Browse.VC.db
build/.vs/Project/v16/ipch/AutoPCH/70021fbc327d1ec7/APPLICATION.ipch
